body {
    background-color: rgb(20,20,20);
    height: 100vh;
    min-height: -webkit-fill-available;
    margin: 0;
    overflow: hidden;
    transition: background 0.3s ease-in-out;
}

#homeMain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#images {
    position: absolute;
}

#aboutDiv {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: -webkit-fill-available;
    width: 100%;
    pointer-events: none;
    color: rgb(250, 250, 250);
    font-family: 'Montserrat', serif;
    margin-top: 5%;
    margin-bottom: 30%;
    max-width: 60%;
}

a {
    color: rgb(250, 250, 250);
    text-decoration: underline;
    user-select: all;
    cursor: pointer;
    pointer-events: all;
}

.pageSubtitleLinkImg {
    color: rgb(250, 250, 250);
    filter: invert(1);
    aspect-ratio: 1 / 1;
    width: auto;
    height: 20px;
    padding-left: 5px;
}

#aboutHi {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
    transform: translateY(100%);
    display: inline-block;
    transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
}

#aboutHiBox {
    overflow: hidden;
}

.aboutParagraph {
    flex: 1;
    font-size: 24px;
    opacity: 0;
    transition: transform 0.05s ease-in-out, opacity 0.5s ease-in-out, color 0.3s ease-in-out;
}

#aboutParagraphs {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.lastName {
    margin-bottom: 0;
}
#email {
    font-family: 'Montserrat', serif;
    font-size: 1rem;
    color: rgb(200, 200, 200);
    margin-top: 0;
    margin-bottom: 0;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
}

#emailDiv {
    overflow: hidden;
}

#aboutGoBack {
    color: rgb(200, 200, 200);
    pointer-events: all;
}

#aboutGoBack:hover {
    color: rgb(250, 250, 250);
}

@media (max-width: 768px) {
    #rightTextDiv {
        margin-left: 20px;
        margin-top: 24px;
    }

    .name {
        font-size: 1.5rem;
    }

    #aboutDiv {
        max-width: 90%;
        margin-bottom: 20%;
    }

    .characterType1 {
        font-size: 18px;
    }

    .aboutParagraph {
        font-size: 18px;
    }
}