body {

}

#content {
    position: relative;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    min-height: -webkit-fill-available;
    overflow: hidden;
    box-sizing: border-box;
}

.section {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    overflow: hidden;
}

#home {
    transform: translateY(0%);
}
#accomplishments {
    transform: translateY(100%);
}
#apps {
    transform: translateY(100%);
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Adjust the padding as needed */
    background: rgba(0,0,0,0); /* Or any color you prefer */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow for depth */
}

#rightTextDiv {
    margin-left: 50px;
    margin-top: 50px
}
.name {
    font-size: 2rem;
    font-family: 'Aboreto', serif;
    color: rgb(250,250,250);
    user-select: none;
    margin: 0;
    padding: 0;
}

/* Additional styles for responsiveness */
@media (max-width: 768px) {
    #header {
        flex-direction: column;
        text-align: center;
    }
    #leftText, #rightText {
        margin-bottom: 5px;
    }

    #content {
        overflow-x: hidden;
    }
}
